<section class="catalog-list container">
    {% for item in list %}
        <a href="{{ item.link }}" class="catalog-list__link">
            <li class="catalog-list__item {{ item.class_all }}">
                {% include 'img.twig' with
                    {
                        'class' : item.class,
                        'title' : item.title,
                        'src' : item.src,
                        'responsive' : true,
                    } %}
                <div class="catalog-list__info {{ item.info }}">
                    <h2 class="catalog-list__title">{{item.title}}</h2>
                    <p class="catalog-list__description">{{ item.description }}</p>
                    <p class="catalog-list__price">{{ item.price }}</p>
                </div>
            </li>
        </a>
    {% endfor %}
</section>