<label class="label {{ modifier }} {{ png_email }} {{ png_tel }}">
    <span class="label__title">{{ title }}:*</span>
    <input type="{{ type }}" class="input {{ modifier_email }}" name="{{  }}" placeholder="{{ placeholder }}"
    required="{{ required }}">
</label>