<label class="label">
    <span class="{{ class_span }}">{{ title }}</span>
    <input class="input {{ class }}" type="{{ type }}" name="{{ name }}"
           placeholder="{{ placeholder }}" {% if required %}required{% endif %}>
</label>