<section class="product">
    <div class="container">
        <div class="product__wrap">
            <div class="product__head">
                <h1 class="product__title">Вязаные корзинки</h1>
                <span class="product__week">Товар недели</span>
            </div>
            <p class="product__description">{{ description }}</p>
            <table class="product__list">
                <tr class="product__specification">
                    <td class="product__options">Цвет:</td>
                    <td class="product__value">{{ color }}</td>
                </tr>
                <tr class="product__specification">
                    <td class="product__options">Диаметр:</td>
                    <td class="product__value">{{ diameter }}</td>
                </tr>
                <tr class="product__specification">
                    <td class="product__options">Высота :</td>
                    <td class="product__value">{{ height }}</td>
                </tr>
            </table>
            <div class="product__img">
                {% include 'img.twig' with {
                    'title' : 'Корзины',
                    'img_class' : 'product-img',
                    'mobile_src' : '/images/big_img/triple-set-mobile.jpg',
                    'tablet_src' : '/images/big_img/triple-set-tablet.jpg',
                    'src' : '/images/big_img/triple-set-desktop.jpg',
                    'responsive' : 'true'
                } %}
            </div>
            <span class="product__price">Цена: {{ price }}.</span>
            <a href="#" class="product__btn">Заказать</a>
        </div>
    </div>
</section>